{% extends 'layouts/base.html' %} {% load static %} {% block breadcrumbs %}{% endblock breadcrumbs %} {% block content %}
<div class="container-xxl flex-grow-1 container-p-y">
  <!-- Display Django Messages -->
  {% if messages %}
  <div class="messages">
      {% for message in messages %}
      <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %} alert-dismissible fade show text-center" role="alert">
          {{ message }}
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
      {% endfor %}
  </div>
  {% endif %}
  <!-- Basic Layout & Basic with Icons -->
  <div class="row">
    <!-- Basic Layout -->
    <div class="col-xxl">
      <div class="card mb-6">
        <div
          class="card-header d-flex align-items-center justify-content-between"
        >
          <h5 class="mb-0">Add Video Category</h5>
        </div>
        <div class="card-body">
          <form
            method="post"
            action="{% url 'videos_cat_add' %}"
            id="submit-button"
            enctype="multipart/form-data"
          >
            {% csrf_token %}

            <!-- Song Name -->
            <div class="row mb-6">
              <label class="col-sm-2 col-form-label" for="name"
                >Category Name</label
              >
              <div class="col-sm-10">
                <div class="input-group input-group-merge">
                  <span id="name-icon" class="input-group-text">
                    <i class="bx bx-music"></i>
                  </span>
                  <input
                    type="text"
                    class="form-control"
                    id="name"
                    name="category_name"
                    placeholder="Enter Video Category Name"
                    required
                  />
                </div>
              </div>
            </div>

            <!-- Song Image -->
            <div class="row mb-6">
              <label class="col-sm-2 col-form-label" for="image"
                >Category Image</label
              >
              <div class="col-sm-10">
                <div class="input-group input-group-merge">
                  <span id="image-icon" class="input-group-text">
                    <i class="bx bxs-image"></i>
                  </span>
                  <input
                    type="file"
                    class="form-control"
                    id="image"
                    name="category_image"
                  />
                </div>
              </div>
            </div>

            <!-- Radio Buttons for Song Source -->

            <!-- Submit Button -->
            <div class="row justify-content-end">
              <div class="col-sm-10">
                <button type="submit" class="btn btn-primary" id="submit-btn">
                  <i class="mdi plus-mdi-video mdi-24px me-1"></i>Add Video
                  Category
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock content %}
